.main_form{
	margin 0 auto;
	background-color: #e8e8e8;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	position: fixed;
	width: 1000px;
	height: 700px;
	font-size: 9px;
	top: 10%;
}
.view_body{
	background-color: #ffffff;
	width: 560px;
	height: 650px;
	border-radius: 5px;
	position: fixed;
	margin-left: 420px;
	margin-top: 25px;
	margin-right: 20px;
	margin-bottom: 25px;
	}
.close{
	margin-left: 880px;	
	}
.login{
	margin-left: 20px;
	position: fixed;
	width: 380px;
	height: 150px;
	margin-top: 25px;
	border: thin solid gray;
	}
.propeties{
	width: 380px;
	height: 495px;
	border: thin solid gray;
	margin-top: 185px;
	margin-left: 20px;
	position: fixed;
	}
.preview{
	width: 100px;
	height: 80px;
	margin-top: 10px;
	margin-left: 85px;
	}
.slider1{
	margin-left: 120px;
	margin-top: 75px;
	}
.slider2{
	margin-left: 120px;
	margin-top: 5px;}
.slider3{
	margin-left: 120px;
	margin-top: 5px;}
.slider4{
	margin-left: 120px;
	margin-top: 5px;}
.slider5{
	margin-left: 120px;
	margin-top: 5px;}
.slider6{
	margin-left: 120px;
	margin-top: 5px;}
.radio1{
	margin-left: 150px;
	margin-top: 25px;
	}
.AP{
	margin-left: 145px;
	margin-top: 25px;
	

	}
.SP{
	margin-left: 125px;
	margin-top: 5px;


	}